* {
    box-sizing: border-box;
}

body {
    background-image: url("images/fadedroad50.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}

header {
    background-image: url("images/coffeelogo.jpg");
    background-repeat: no-repeat;
    color: #231814;
    background-color: #D2B48C;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 240px;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #8C3826;
}

nav {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 200px;
}

nav ul {
    list-style: none;
}

nav a, header a { 
    text-decoration: none;
}

header a:visited, header a:link {
    color: #231814;
}

header a:hover {
    color: #FEF6C2
}

nav a:link {
    color: #FEF6C2; 
}

nav a:hover {
    color: #CC9933;
}

nav a:visited {
    color: #D2B48C;
}

nav ul {
    text-decoration: none;
    padding-left: 0;
}

footer {
    padding: 1em;
    border-top: solid 2px #8C3826;
    background-color: #D2B48C;
    font-size: .60em;
    text-align: center;
    font-style: italic;
}

#wrapper {
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 4px 4px black;
    background-color: #231814;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

h4 {
    text-transform: capitalize;
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid black;
    padding-bottom: 0;
    clear: left;
}

h3, dt {
    color: #8C3826;
}

main {
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 2em;
    background-color: #FEF6C2;
    display: block;
    overflow: auto;
}

main h2, main h3, main h4, main p, main div, main ul, main dl{
    padding-left: 3em;
    padding-right: 2em;
}

.details {
    overflow: auto;
    padding-left: 20%;
    padding-right: 20%;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#homehero {
    height: 300px;
    background-size: 100% 100%;
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
}

#heromugs {
    height: 300px;
    background-size: 100% 100%;
    background-image: url("images/heromugs.jpg");
    background-repeat: no-repeat;
}

#heroguitar {
    height: 300px;
    background-size: 100% 100%;
    background-image: url("images/heroguitar.jpg");
    background-repeat: no-repeat;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

.onethird {
    float: left;
    width: 33%;
}